img.img-crop {
    object-fit: cover;
    object-position: center;
}

.circle {
    border-radius: 100px;
}

.overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
}